{% extends 'stuffsharing/base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
<br><br>

{% load static %}
<div class="background" style="position: absolute; top: 55px; left: 0; height: 100%; width: 100%; padding: 100px; background-image: url({% static 'background.jpg' %}); background-size:100%; background-repeat: no-repeat;">
    <form class="card" style="padding: 0px;">
        <div class="card-body row no-gutters align-items-center">
            <div class="col-auto">
                <i class="fas fa-search h4 text-body"></i>
            </div>
            <div class="col">
                <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Search stuffs or keywords">
            </div>
            <div class="col-auto">
                <button class="btn btn-lg btn-success" type="submit">Search</button>
            </div>
        </div>
    </form>
</div>

{% endblock content %}