{% extends 'stuffsharing/base.html' %}

{% block title %}Post{% endblock title %}

{% block content %}

<div class="row">
<div class="left-column">
    <h2 style="margin: 20px; text-align: center;">Your Stuffs</h2>
    <div class="card">
        <h3>Stuff #1</h3>
        <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
        <button type="button" class="btn btn-primary">Edit</button>
        <br>
        <button type="button" class="btn btn-success">Post!</button>
    </div>
    <div class="card">
        <h3>Stuff #2</h3>
        <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
        <button type="button" class="btn btn-primary">Edit</button>
        <br>
        <button type="button" class="btn btn-success">Post!</button>
    </div>
    <div class="card">
        <h3>Stuff #3</h3>
        <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
        <button type="button" class="btn btn-primary">Edit</button>
        <br>
        <button type="button" class="btn btn-success">Post!</button>
    </div>
</div>

<div class="right-column">
    <div class="card">
        <h3>Add a stuff</h3>
    
    </div>
</div>
    </div>

{% endblock content %}