{% extends 'stuffsharing/base.html' %}

{% block title %}Search{% endblock title %}

{% block content %}
    
<div class="row">
    <div class="left-column">
        <div class="card">
            <h3>Condition</h3>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="checkbox1" checked>
                <label class="custom-control-label" for="checkbox1">New</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="checkbox2" checked>
                <label class="custom-control-label" for="checkbox2">Used</label>
            </div>
            <br>
            <h3>Area</h3>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="checkbox3" checked>
                <label class="custom-control-label" for="checkbox3">North</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="checkbox4" checked>
                <label class="custom-control-label" for="checkbox4">East</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="checkbox5" checked>
                <label class="custom-control-label" for="checkbox5">South</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="checkbox6" checked>
                <label class="custom-control-label" for="checkbox6">West</label>
            </div>
            <br>
            <h3>Price</h3>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="checkbox7" checked>
                <label class="custom-control-label" for="checkbox7">Free</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="checkbox8" checked>
                <label class="custom-control-label" for="checkbox8">1$ - 5$</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="checkbox9" checked>
                <label class="custom-control-label" for="checkbox9">6$ - 10$</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="checkbox10" checked>
                <label class="custom-control-label" for="checkbox10">10$ - 20$</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="checkbox11" checked>
                <label class="custom-control-label" for="checkbox11">Bidding</label>
            </div>
            <br>
            <button type="button" class="btn btn-secondary">Update</button>
        </div>
    </div>
    
    <div class="right-column">
        <form class="card" style="padding: 0px;">
            <div class="card-body row no-gutters align-items-center">
                <div class="col-auto">
                    <i class="fas fa-search h4 text-body"></i>
                </div>
                <div class="col">
                    <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Search stuffs or keywords">
                </div>
                <div class="col-auto">
                    <button class="btn btn-lg btn-success" type="submit">Search</button>
                </div>
            </div>
        </form>

        <div class="card">
            <h3>Loan Proposition #1</h3>
            <h5>5$</h5>
            <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
            <p>start date: 01/01/2019&nbsp;&nbsp;&nbsp;&nbsp;end date: 01/01/2019</p>
            <div><button type="button" class="btn btn-success">Request!</button></div>
        </div>
        <div class="card">
            <h3>Loan Proposition #2</h3>
            <h5>free</h5>
            <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
            <p>start date: 01/01/2019&nbsp;&nbsp;&nbsp;&nbsp;end date: 01/01/2019</p>
            <div><button type="button" class="btn btn-success">Request!</button></div>
        </div>
        <div class="card">
            <h3>Loan Proposition #3</h3>
            <h5>bid: min 3$</h5>
            <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
            <p>start date: 01/01/2019&nbsp;&nbsp;&nbsp;&nbsp;end date: 01/01/2019</p>
            <form action="/action_page.php">
                <div class="form-group">
                    <input class="form-control">
                    <button type="button" class="btn btn-success">Request!</button>
                </div>
            </form>
        </div>
        <div class="card">
            <h3>Loan Proposition #4</h3>
            <h5>6$</h5>
            <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
            <p>start date: 01/01/2019&nbsp;&nbsp;&nbsp;&nbsp;end date: 01/01/2019</p>
            <div><button type="button" class="btn btn-success">Request!</button></div>
        </div> 
    </div>
</div>

{% endblock content %}