{% extends 'stuffsharing/base.html' %}

{% block title %}Search{% endblock title %}

{% block content %}
    
<div class="row">
    <div class="left-column">
        <div class="card">
            <h3>Condition</h3>
            <p>New</p>
            <p>Used</p>
            <br>
            <h3>Area</h3>
            <p>North</p>
            <p>East</p>
            <p>South</p>
            <p>West</p>
            <br>
            <h3>Price</h3>
            <p>Free</p>
            <p>Bidding</p>
            <p>1$ - 5$</p>
            <p>6$ - 10$</p>
            <p>10$ - 20$</p>
        </div>
    </div>
    
    <div class="right-column">
        <form class="card" style="padding: 0px;">
            <div class="card-body row no-gutters align-items-center">
                <div class="col-auto">
                    <i class="fas fa-search h4 text-body"></i>
                </div>
                <div class="col">
                    <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Search stuffs or keywords">
                </div>
                <div class="col-auto">
                    <button class="btn btn-lg btn-success" type="submit">Search</button>
                </div>
            </div>
        </form>

        <div class="card">
            <h3>Loan Porposition #1 - 5$</h3>
            <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
            <p>start date: 01/01/2019&nbsp;&nbsp;&nbsp;&nbsp;end date: 01/01/2019</p>
        </div>
        <div class="card">
            <h3>Loan Porposition #2</h3>
            <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
        </div>
        <div class="card">
            <h3>Loan Porposition #3</h3>
            <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
        </div>
        <div class="card">
            <h3>Loan Porposition #4</h3>
            <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
        </div>        
    </div>
</div>

{% endblock content %}